.achieved-gain {
  align-self: flex-end;
  background-color: #5cd776;
  border-radius: 5px;
  color: #ffffff;
  margin-right: 30px;
  padding: 5px 10px;
  position: absolute;

  font-weight: 900;
}

.font-weight {
  font-weight: 900;
}

.guage-font{
    font-size: small;
}