<div class="container my-4">
  <div class="row">
    <div class="col">
      <div id="low">{{dynamicValue?.achieved}}</div><br />
      <span>Achieved</span>
    </div>
    <div class="col">
      <div id="low" class="achieved-gain">{{dynamicValue?.price}}</div><br />
    </div>
  </div>
    
  
<br>
<br>
<div id="power-gauge" class="gauge-chart"></div>
<div class="row">
  <div class="col">
    <div id="low">{{dynamicValue?.low}}</div><br />
    <span>LOW</span>
  </div>
  <div class="col">
    <div id="score">{{dynamicValue?.score}}</div><br />
    <span>SCORE</span>
  </div>
  <div class="col">
    <div id="high">{{dynamicValue?.high}}</div><br />
    <span>HIGH</span>
  </div>
</div>
  
</div> 